.main-container {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 15px;
  margin: 10px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  border: 1px solid lightgray;
}
